<div class="flex">
    <h1>Lista de productos Tiempo Real:</h1>
        <div style="display: flex; justify-content: space-around;
    align-items: center;">
    <form action="/" method="get">
    <button style="cursor: pointer;">Regresar</button>
</form>
    </div>
    <div class="container">
        <div id="products"></div>
        <div class="forms">
            <h2>Agregar producto</h2>
            <form action="/realtimeproducts" method="post" id="addProduct">
                <label for="title">Nombre:</label>
                <input type="text" id="title" required>

                <label for="description">Descripción:</label>
                <input type="text" id="description" required>

                <label for="code">Código:</label>
                <input type="text" id="code" required>

                <label for="price">Precio:</label>
                <input type="number" id="price" required>

                <label for="stock">Stock:</label>
                <input type="number" id="stock" required>
                <label for="category">Categoria:</label>
                <input type="text" id="category" required>
                <label for="thumbnail">Imagen (URL):</label>
                <input type="text" id="thumbnail">

                <button type="submit" id="addProductButton">Agregar</button>
            </form>
            <h2>Eliminar producto</h2>
            <form id="deleteProduct">
                <label for="id">ID del producto:</label>
                <input type="text" id="id">
                <button type="button" id="deleteProductButton">Borrar</button>
            </form>
            <h2>Chat!!</h2>
            <div id="chat">
            </div>
            <div>
                <form id="chatForm" class="flex">
                    <label for="user">Correo</label>
                    <input type="text" id="user">
                    <label for="message">Mensaje</label>
                    <input type="text" id="message" name="message">
                    <button type="submit" id="chat-button">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/js/index.js"></script>